body {
  margin: 0;
  background-color: #2b2e32 !important;
  color: rgb(255, 255, 255) !important;
  font-family: "Roboto", sans-serif;
}

.home-image {
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
}

.home-image:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  /* z-index: 99999; */
}

@media (max-width: 768px) {
  .home-image {
    display: none !important;
  }
}

